.detail-info {
    width: 90%;
    margin: 0rem auto;
    color: var(--whiteish);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    padding-top: 10rem;
    border-radius: 1rem;
    font-family: var(--header-font);
}

.detail-info section {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 2rem;
    margin-bottom: 2rem;
}

.bold {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1rem;
}