.movie-card {
    padding: 1rem 1.5rem;
    background-color: var(--dark-gray);
    color: var(--whiteish);
    display: grid;

}

.movie-card__poster {
    max-width: 100%;
    margin: auto;
}

.movie-card__title {
    font-family: var(--header-font);
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: .5rem;
}

