:root {
  --blackish: #0B0B0C;
  --whiteish: #fffef9;
  --dark-gray: #1a1a1a;
  --yellow: #f4ec1c;

  --header-font: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--blackish);
}

main {
  padding-top: 10rem;
  /*Ändrade från margin-top till padding top. */
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(195, 195, 195);
}

::-webkit-scrollbar-thumb {
  background: rgb(62, 62, 62);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ceba23;
}

a {
  text-decoration: none;
}

.d-none {
  display: none;

}