.frontPage {
    background-color: var(blackish);
}
.frontPage h2 {
    text-align: center;
    margin: 1rem 0;
}
.frontPageTopWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 2rem auto;
}
.btnNext {
    position: absolute;
    top: 40%;
    right: -2rem;
}

.btnNext img, .btnPrev img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btnPrev {
    position: absolute;
    top: 40%;
    left: -2rem;
}